## Tells Git to automatically ignore the following types of files

## Chat history
chat.txt

## VS Project files
Plumpa.sln
Plumpa.vcxproj
Plumpa.vcxproj.filters
Plumpa.vcxproj.user
.vs/
Debug/

## Matlab Script Autosave files
*.asv
